<ion-header class="main-header" collapes="condense" scroll-y="true">
  <!-- <ion-img class="rest-banner" src="https://www.figma.com/file/iZMFufoY7Z5RKvtFnKTRcr/image/1b9a64bcd7e16083af17185de88e722d94ab4104"></ion-img> -->
  <ion-content class="header">
    <div class="options">
      <div class="option-group">
        <div class="single-op" (click)="goBack()">
          <ion-icon name="arrow-back-sharp"></ion-icon>
        </div>
      </div>
      <div class="option-group">
        <div class="single-op">
          <ion-icon name="heart-outline"></ion-icon>
        </div>
        <div class="single-op">
          <ion-icon name="share-social-outline"></ion-icon>
        </div>
      </div>
    </div>
  </ion-content>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">rest-profile</ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>
