<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<div class="pop-up-parent close" #popAlert>
  <div class="pop-up overflow" #alertContent>
    <div class="pop-content">
      <h2 class="pop-header">Bạn muốn rời khỏi đơn hàng nhóm này?</h2>
      <p class="pop-text">Bạn sẽ không thể thêm món nào vào đơn hàng này nữa. Nếu muốn thêm món, bạn sẽ cần tham gia lại nhóm</p>
      <div class="choises-container">
        <ion-button (click)="answerManualAlert('accept')" class="pop-button accept">Rời đơn hàng nhóm</ion-button>
        <ion-button (click)="answerManualAlert('dismis')" class="pop-button dismiss">Đóng</ion-button>
      </div>
    </div>
  </div>
</div>

<ion-header collapse="condense" scroll-y="false">
  <ion-content class="header">
    <div class="shipping-header">
      <div class="shipping-toolbar">
        <div class="main-toolbar">
          <ion-icon class="back-btn" name="arrow-back-outline"></ion-icon>
          <div class="shipping-goal">
            <p class="header-text smol">Giao đến</p>
            <div class="goal-locate" *ngIf="shippingLoc">
              <p class="header-text big">{{shippingLoc}}, Việt Nam</p>
              <ion-icon class="more-ship" name="caret-down-outline"></ion-icon>
            </div>
          </div>
        </div>
        <ion-icon class="shipping-info" name="newspaper-outline"></ion-icon>
      </div>
    </div>
  </ion-content>
</ion-header>
<ion-content class="body" [fullscreen]="true">
  <div class="search-native">
    <ion-searchbar class="search-bar" placeholder="Bạn đang thèm gì nào?" (click)="goFind()"></ion-searchbar>
  </div>

  <swiper-container class="food-type-slider" loop="true" slides-per-view="5.5">
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
    <swiper-slide class="food-slide">
      <ion-avatar>
        <img
          src="https://s3-alpha-sig.figma.com/img/fdda/98e3/1734c72da0dd87a7a8dcb3b1e99e7407?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=muLf7rko-zCpQ7aKDPlVJkVdISS1jRb8lTVNXQ36roosdWwgHxs65Dc4ITx0nx5aNvIEQsUJ5yZIEskHv2H85bqflfyg50Nnli~KYMy8NXkNGT0W5CdEFLz4TiBMytUorW9c7QH1LWp1Q6sLWRjjFmo6vi~95mlejE8-n3scvAhSW4Ck1v4cI5MZiBeN3naWodiG3Bt09Mi44eaLWK9HxUDPo3w4-bKkVdriMRjQelC5tvPVP8TTgIiPN3wQRyIs43Cu73~ZOcjGC4g~rsg46qU-RR6ikbv9TEmL0~tUlLYyo5lxwaUNsvCM1B3H6HsLxIzdtZbj~LNtf7SaUS0T5g__">
      </ion-avatar>
      <p class="food-type-text">Ăn Nhanh</p>
    </swiper-slide>
  </swiper-container>

  <div class="ads-container" (click)="openManualAlert()">
    <swiper-container class="new-ads-slider" pagination="true" loop="true">
      <swiper-slide class="ads-slide">
        <ion-img
          src="https://s3-alpha-sig.figma.com/img/72e4/0a28/24b542915c906ee667058cfd01903f46?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VQRzIqr9o7vODUh3CE-UlMx2g-yiNfA0HzDOTVetAgbrDLRIrwbQwpzGo6k56YrQpF1uu~WocZ1lMEevF2U8t93a~IztFBXOQzHE6fZaP~owswSM2oatVrPISPnVq8wXsZKIzvSaMN4CWPVYeZ3IG3hiFUZVDUYmJzfZr3MJKhceywnf5pu8ceCJtVuM76HqMKjC7KPkp~stf82cKXuwNuYMWo~rZS-x~4p8TX9MNjSu6X4dST4MwSJ6catOxmTyvd4uvgarjFnOCkc0vxjErYjL1tIZFZt2n58yt45wGQ5Bbsxrcvm8mRkzNgDg2oyZ5Q0M6L81ryMUcXyjhVTXxQ__">
        </ion-img>
      </swiper-slide>
      <swiper-slide class="ads-slide">
        <ion-img
          src="https://s3-alpha-sig.figma.com/img/72e4/0a28/24b542915c906ee667058cfd01903f46?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VQRzIqr9o7vODUh3CE-UlMx2g-yiNfA0HzDOTVetAgbrDLRIrwbQwpzGo6k56YrQpF1uu~WocZ1lMEevF2U8t93a~IztFBXOQzHE6fZaP~owswSM2oatVrPISPnVq8wXsZKIzvSaMN4CWPVYeZ3IG3hiFUZVDUYmJzfZr3MJKhceywnf5pu8ceCJtVuM76HqMKjC7KPkp~stf82cKXuwNuYMWo~rZS-x~4p8TX9MNjSu6X4dST4MwSJ6catOxmTyvd4uvgarjFnOCkc0vxjErYjL1tIZFZt2n58yt45wGQ5Bbsxrcvm8mRkzNgDg2oyZ5Q0M6L81ryMUcXyjhVTXxQ__">
        </ion-img>
      </swiper-slide>
      <swiper-slide class="ads-slide">
        <ion-img
          src="https://s3-alpha-sig.figma.com/img/72e4/0a28/24b542915c906ee667058cfd01903f46?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VQRzIqr9o7vODUh3CE-UlMx2g-yiNfA0HzDOTVetAgbrDLRIrwbQwpzGo6k56YrQpF1uu~WocZ1lMEevF2U8t93a~IztFBXOQzHE6fZaP~owswSM2oatVrPISPnVq8wXsZKIzvSaMN4CWPVYeZ3IG3hiFUZVDUYmJzfZr3MJKhceywnf5pu8ceCJtVuM76HqMKjC7KPkp~stf82cKXuwNuYMWo~rZS-x~4p8TX9MNjSu6X4dST4MwSJ6catOxmTyvd4uvgarjFnOCkc0vxjErYjL1tIZFZt2n58yt45wGQ5Bbsxrcvm8mRkzNgDg2oyZ5Q0M6L81ryMUcXyjhVTXxQ__">
        </ion-img>
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="population-rest">
    <h3 class="pop-rest-title">Cửa hàng phổ biến</h3>
    <swiper-container class="pop-rest-slider" loop="true" slides-per-view="2.5
    ">
      <swiper-slide class="pop-rest-slide" (click)="goRest()">
        <ion-avatar class="pop-rest-face">
          <img
            src="https://s3-alpha-sig.figma.com/img/cab6/c684/8581183e96c0a3d0ae043d3c57846010?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BBkNzFBlzGul5-cIXDr1ciocqFW850S2Wu8VLBuWgDsqRiyIR9Vqr1vbbLlHFxLeI9cnII6STq-H6zrxsQxWEHb7dcncv3wd0MF6ZUPAdS6l5V-8z-pKMhQhEYNyoHhxIE6v011cvDzCMmWz4ZZb46ODpQZt~7OeAR6PCsvtWJ4hx6f0uNTExi1KXYYco3msqlatq~1Z2KDUxv-pFb7tT07TG6g20rTk2zCP~u-iKUmO-yEjJaml3cQb44rv2ZD4R1DdNriJoTwQ4XuaLDUu4epmrHa12ZEnI5Dm7DAJYCiLauHpkLCdFU~JXVTVdSZlqhL1OVpq5qhKeTv7fS-HcA__"
            alt="">
        </ion-avatar>
        <p class="rest-name">Mỳ Quảng Quang Anh - Đà Nẵng</p>
        <div class="rest-rated">
          <ion-icon class="rate-star" name="star"></ion-icon>
          <p class="rated-point">4.1 (235)</p>
        </div>
      </swiper-slide>
      <swiper-slide class="pop-rest-slide" (click)="goRest()">
        <ion-avatar class="pop-rest-face">
          <img
            src="https://s3-alpha-sig.figma.com/img/cab6/c684/8581183e96c0a3d0ae043d3c57846010?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BBkNzFBlzGul5-cIXDr1ciocqFW850S2Wu8VLBuWgDsqRiyIR9Vqr1vbbLlHFxLeI9cnII6STq-H6zrxsQxWEHb7dcncv3wd0MF6ZUPAdS6l5V-8z-pKMhQhEYNyoHhxIE6v011cvDzCMmWz4ZZb46ODpQZt~7OeAR6PCsvtWJ4hx6f0uNTExi1KXYYco3msqlatq~1Z2KDUxv-pFb7tT07TG6g20rTk2zCP~u-iKUmO-yEjJaml3cQb44rv2ZD4R1DdNriJoTwQ4XuaLDUu4epmrHa12ZEnI5Dm7DAJYCiLauHpkLCdFU~JXVTVdSZlqhL1OVpq5qhKeTv7fS-HcA__"
            alt="">
        </ion-avatar>
        <p class="rest-name">Mỳ Quảng Quang Anh - Đà Nẵng</p>
        <div class="rest-rated">
          <ion-icon class="rate-star" name="star"></ion-icon>
          <p class="rated-point">4.1 (235)</p>
        </div>
      </swiper-slide>
      <swiper-slide class="pop-rest-slide" (click)="goRest()">
        <ion-avatar class="pop-rest-face">
          <img
            src="https://s3-alpha-sig.figma.com/img/cab6/c684/8581183e96c0a3d0ae043d3c57846010?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BBkNzFBlzGul5-cIXDr1ciocqFW850S2Wu8VLBuWgDsqRiyIR9Vqr1vbbLlHFxLeI9cnII6STq-H6zrxsQxWEHb7dcncv3wd0MF6ZUPAdS6l5V-8z-pKMhQhEYNyoHhxIE6v011cvDzCMmWz4ZZb46ODpQZt~7OeAR6PCsvtWJ4hx6f0uNTExi1KXYYco3msqlatq~1Z2KDUxv-pFb7tT07TG6g20rTk2zCP~u-iKUmO-yEjJaml3cQb44rv2ZD4R1DdNriJoTwQ4XuaLDUu4epmrHa12ZEnI5Dm7DAJYCiLauHpkLCdFU~JXVTVdSZlqhL1OVpq5qhKeTv7fS-HcA__"
            alt="">
        </ion-avatar>
        <p class="rest-name">Mỳ Quảng Quang Anh - Đà Nẵng</p>
        <div class="rest-rated">
          <ion-icon class="rate-star" name="star"></ion-icon>
          <p class="rated-point">4.1 (235)</p>
        </div>
      </swiper-slide>
      <swiper-slide class="pop-rest-slide" (click)="goRest()">
        <ion-avatar class="pop-rest-face">
          <img
            src="https://s3-alpha-sig.figma.com/img/cab6/c684/8581183e96c0a3d0ae043d3c57846010?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BBkNzFBlzGul5-cIXDr1ciocqFW850S2Wu8VLBuWgDsqRiyIR9Vqr1vbbLlHFxLeI9cnII6STq-H6zrxsQxWEHb7dcncv3wd0MF6ZUPAdS6l5V-8z-pKMhQhEYNyoHhxIE6v011cvDzCMmWz4ZZb46ODpQZt~7OeAR6PCsvtWJ4hx6f0uNTExi1KXYYco3msqlatq~1Z2KDUxv-pFb7tT07TG6g20rTk2zCP~u-iKUmO-yEjJaml3cQb44rv2ZD4R1DdNriJoTwQ4XuaLDUu4epmrHa12ZEnI5Dm7DAJYCiLauHpkLCdFU~JXVTVdSZlqhL1OVpq5qhKeTv7fS-HcA__"
            alt="">
        </ion-avatar>
        <p class="rest-name">Mỳ Quảng Quang Anh - Đà Nẵng</p>
        <div class="rest-rated">
          <ion-icon class="rate-star" name="star"></ion-icon>
          <p class="rated-point">4.1 (235)</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>