<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="body" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> -->

    <ion-item>
      <ion-searchbar class="search-bar" (ionInput)="changeEvent($event)"></ion-searchbar>
    </ion-item>
    <div class="results-contain" *ngFor="let i of places">
      <ion-icon class="locate-icon" name="location"></ion-icon>
      <p class="results">{{i.description}}</p>
    </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
