<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="body" [fullscreen]="true">

  <!-- <form [formGroup]="formInfo">
    <ion-item>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" (click)="submitForm()">Submit</ion-button>
    </ion-item>
  </form> -->

  <!-- <div *ngIf="aboutLocate">
    <h3>{{aboutLocate.formatted_address}}</h3>
  </div> -->
</ion-content>
