<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="body" [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <form [formGroup]="formInfo">
    <ion-item>
      <ion-input formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" (click)="submitForm()">Submit</ion-button>
    </ion-item>
  </form>
</ion-content>
