.body {
    --ion-background-color: white;
}

.user-bg {
    background-color: #818181;
    width: 100%;
    height: 20%;
    z-index: -1;
}

.user-avt {
    position: absolute;
    width: 110px;
    height: 110px;
    bottom: 75%;
    left: 7%;
    border: 7px white solid;
    z-index: 1;
}
.badges{
    display: flex;
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 40%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    right: 7%;
    bottom: 76%;
    border: #d8d8d8 2px solid;
    ion-icon{
        color: #1abc9c;
    }
}
.user-profile{
    background-color: #e5e5e5;
    width: 90%;
    position: absolute;
    border-radius: 2% / 4%;
    right: 5%;
    border: #d8d8d8 2px solid;
}
.user-profile.info{
    height: 15%;
    top: 26%;
}
.user-profile.joined{
    top: 44%;
    height: 10%;
}
.user-profile.friends{
    top: 58%;
    height: 5%;
}